html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
::after,
::before {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    min-height: 200vh;
    overflow-x: hidden;
    background: #f9f9f9;
    line-height: 1.3;
    font-family: Poppins, sans-serif;
}
body.active {
    overflow: hidden;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.title {
    font-family: "Leckerli One", cursive;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 40px;
}
.p-title {
    font-family: "Leckerli One", cursive;
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 20px;
    color: #4ebf35;
}
.justify {
    text-align: justify;
    line-height: 1.5;
}
.color {
    color: #4ebf35;
    font-family: "Leckerli One", cursive;
}
.btn {
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #fff;
    background: #4ebf35;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.txt-center {
    text-align: center;
}
.green {
    color: #4ebf35;
    font-weight: 700;
    margin-top: 20px;
}
.medium {
    font-size: 1.5rem;
}
.btn:hover {
    background: #131812;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.flex1 {
    display: flex;
}
.flex {
    display: flex;
}
@media (max-width: 688px) {
    .flex {
        flex-wrap: wrap;
        justify-content: space-between !important;
    }
}
.flex-jc-sb {
    justify-content: space-between;
}
.flex-jc-c {
    justify-content: center;
}
.flex-ai-c {
    align-items: center;
}
.flex-gap {
    margin-bottom: 40px;
}
.flex-wrap {
    flex-wrap: wrap;
}
@media (max-width: 868px) {
    .hide-mobile {
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: -800px;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 400px;
        transition: 0.5s ease-in-out;
        background: #fff;
        color: #000;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -ms-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
    }
}
@media (min-width: 868px) {
    .hide-desktop {
        display: none;
        opacity: 0;
    }
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    padding: 10px 0;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    left: 0;
    z-index: 12;
}
header.sticky {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80px;
}
header.sticky #toogle {
    top: 20px;
}
header.sticky .logo img {
    max-width: 90px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
header .logo img {
    max-width: 120px;
}
header #menu.active {
    right: 0;
}
header #menu.active li {
    padding: 10px 5px;
    width: 100%;
    display: inline-block;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    text-align: center;
    -o-transition: 0.5s ease-in-out;
}
header #menu li {
    margin-right: 20px;
}
header #menu li a {
    color: #222;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
header #menu li a:hover {
    color: #4ebf35;
}
header #menu li a.active {
    color: #4ebf35;
}
#toogle {
    position: fixed;
    top: 25px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1111;
}
#toogle::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #191e18;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 #191e18;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
#toogle.active::before {
    transform: translateY(0) rotate(45deg);
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    -o-transform: translateY(0) rotate(45deg);
    box-shadow: 0 0 0 #131812;
}
#toogle::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background: #191e18;
    transform: translateY(10px);
    transition: 0.2s ease-in-out;
}
#toogle.active::after {
    transform: translateY(0) rotate(-45deg);
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    -o-transform: translateY(0) rotate(-45deg);
}
.top {
    position: fixed;
    bottom: 40px;
    right: -100%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40px;
    background: #4ebf35;
    cursor: pointer;
    z-index: 111;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.top.active {
    right: 2%;
}
.vision{
    width: 100%;
    /* background: rgb(145, 255, 0); */
    background: rgb(152, 235, 45);
}
.v-content{
    width: 70%;
    margin: 0 auto;
    padding:15px 10px;
}
.v-one{
    border-left: 4px solid rgb(22, 22, 22);
}
.banner {
    position: relative;
    overflow: hidden;
    margin-top: 100px;
    min-height: calc(90vh - 80px);
}
/* .box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
} */
.banner .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-size: cover;
    animation: slide 5s ease;
    background-position: center;
    -webkit-animation: slide 5s ease;
}
.banner .slide h1 {
    font-weight: 700;
    font-size: 2rem;
}
.banner .slide p {
    margin-bottom: 25px;
}
.banner .slide.active {
    display: flex;
}
.banner .slide.active h1 {
    opacity: 0;
    animation: Text 0.7s ease forwards;
    -webkit-animation: Text 0.7s ease forwards;
    animation-delay: 1s;
}
.banner .slide.active p {
    opacity: 0;
    animation: Text 0.7s ease forwards;
    animation-delay: 1.5s;
}
.banner .slide.active a {
    opacity: 0;
    animation: Text 0.7s ease forwards !important;
    animation-delay: 2s !important;
    -webkit-animation: Text 0.7s ease forwards !important;
}
.banner .slide .text-container {
    width: 1170px;
    height: calc(100% - 50vh);
    text-align: center;
    color: #fff;
    margin: auto;
    z-index: 1;
}
.banner .control .next,
.banner .control .prev {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: #4ebf35;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    line-height: 30px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.banner .control .prev {
    left: 10px;
}
.banner .control .next {
    right: 10px;
}
@keyframes slide {
    0% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}
@keyframes Text {
    0% {
        opacity: 0;
        transform: translatex(-100px);
    }
    100% {
        opacity: 1;
        transform: translatex(0);
    }
}
@media (max-width: 500px) {
    .mobile-banner {
        min-height: 60vh;
    }
}
@media (max-width: 500px) {
    .mobile-text {
        height: auto !important;
    }
}
@media (max-width: 500px) {
    .text-width {
        display: none;
    }
}
.about {
    width: 100%;
}
.about h4 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 5px;
}
.about .row__img {
    width: 50%;
    align-self: flex-end;
    margin-right: 30px;
}
.about .row__img img {
    border-radius: 50% 0;
}
.about .row__text {
    width: 45%;
}
.about .row__text p {
    line-height: 1.4;
    text-align: justify;
}
.feature {
    padding: 50px 0 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://res.cloudinary.com/djer1onlx/image/upload/v1618566892/tree_ez9hgh.jpg);
    background-position: center;
    background-size: cover;
}
.feature .row__text {
    width: 45%;
    color: rgb(0, 0, 0);
}
.feature .row__text h2 {
    color: rgb(0, 0, 0);
}
.feature .row__text p {
    margin-bottom: 40px;
    line-height: 1.5;
}
.feature .row__img {
    width: 50%;
    background: #4ebf35;
    float: left;
    shape-outside: circle();
    border-radius: 50%;
    margin-right: 1em;
}
.feature .row__img img{
    width: 100%;
}
.feat-bg{
    /* background: linear-gradient(to right,rgb(61, 224, 61),rgb(72, 236, 135)); */
    background: #fff;
    padding: 30px 20px;
    box-shadow: 0 0 10px rgb(243, 238, 238);
}
.feat-bg:last-child{
    margin-left: 2em;
}
.products {
    text-align: center;
    padding: 40px 0 80px 0;
}
.products .product {
    flex: 1;
    margin-right: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-bottom: 5px solid rgb(41 140 18);
}
.products .product__img {
    position: relative;
    text-align: center;
}
.products .product__img img {
    width: 200px;
    padding: 10px;
}
.products .product__offer {
    position: absolute;
    top: 0;
    left: 0;
    background: #4ebf35;
    padding: 5px;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 1.4rem;
    border-bottom-right-radius: 50%;
}
.products h1 {
    padding: 0;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #191e18;
}
.overview {
    width: 100%;
    background: #4ebf35;
    color: #fff;
    height: 200px;
    position: relative;
}
.overview .view__text {
    width: 60%;
    margin-top: 30px;
}
.overview .view__text p {
    line-height: 1.5;
    text-align: justify;
}
.overview .view__img {
    width: 40%;
    position: absolute;
    top: -100px;
    right: 0;
}
.benefits {
    padding: 50px 0;
    width: 100%;
    min-height: 60vh;
    background: url("../img/benefits.JPG") no-repeat;
    background-size: 600px;
    background-position: left 0 bottom 0;
}
.benefits .container1 {
    width: 70%;
    margin: auto;
}
.benefits__img {
    width: 100px;
    height: 70px;
}
.benefits__img img {
    width: 100%;
    height: 100%;
}
.white{
    color:#fff;
}

.benefits h6 {
    padding: 0;
    margin: 10px 5px 5px 7px;
    font-size: 1.125rem;
}
.benefits__text{
    color: #fff;
}
.benefits p {
    margin: 10px 5px 5px 7px;
    font-size: 0.875rem;
}
.benefits .benefit {
    margin-bottom: 45px;
}
.footer {
    background: #191e18;
    width: 100%;
    color: #fff;
    font-size: 0.875rem;
    border-top: 5px solid #4ebf35;
}
.footer .foot-title {
    position: relative;
}
.footer .foot-title::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 2px;
    background: #4ebf35;
    top: 25px;
}
.footer .row {
    padding: 40px 0;
}
.footer__contact {
    width: 32%;
    margin-right: 20px;
}
.footer__contact h6 {
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 12px;
}
.footer__about {
    width: 32%;
    margin-right: 40px;
}
.footer__subs {
    width: 32%;
}
.footer__subs .input {
    width: 100%;
    margin-bottom: 14px;
}
.footer__subs .input input {
    padding: 10px 3px;
    width: 100%;
    border: 1px solid #ddd;
    outline: none;
}
.footer .copyrights {
    width: 100%;
    background: #131812;
    text-align: center;
    padding: 1px;
    font-size: 0.875rem;
}
@media (max-width: 688px) {
    .flex .row__img {
        margin-bottom: 20px;
        margin: auto;
    }
    .flex .row__text {
        width: 100%;
        text-align: center;
    }
    .flex .product {
        flex: 0 0 47%;
    }
    .flex .view__img {
        width: 40%;
        min-width: 350px;
        position: absolute;
        top: -30px;
        overflow: hidden;
        right: -150px;
        z-index: 1;
    }
}

@media (max-width: 688px) {
    .flex .product {
        flex: 0 0 90%;
        margin: 20px auto;
    }
}
@media (max-width: 500px) {
    .flex .footer__about,
    .flex .footer__contact,
    .flex .footer__subs {
        width: 90%;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px) {
    .caption h1 {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 688px) {
    .benefits {
        background-position: left 0 bottom 40%;
    }
}
@media (max-width: 500px) {
    .benefits {
        background-position: left -100%;
    }
}
@media (max-width: 688px) {
    .overview {
        position: relative;
        overflow: hidden;
        height: 220px;
    }
    .overview .view__text {
        margin-top: 0;
    }
    .overview .view__img {
        width: 40%;
        min-width: 350px;
        position: absolute;
        top: -50px;
        right: -100px;
    }
}
@media (max-width: 500px) {
    .overview .view__img {
        min-width: 280px;
    }
}
@media (min-width: 1024px) {
    .container {
        width: 80%;
        max-width: 1000px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 70%;
        max-width: 1200px;
    }
}
@media (min-width: 1400px) {
    .slide h1 {
        font-size: 4rem !important;
    }
    .slide p {
        font-size: 1.7rem;
    }
}
@media (min-width: 1400px) {
    .btn {
        padding: 15px 30px;
        margin-top: 20px;
        font-size: 1.5rem;
    }
}
@media (min-width: 1400px) {
    .title {
        font-size: 3rem;
    }
}
@media (min-width: 1400px) {
    .about h4 {
        font-size: 1.7rem;
    }
}
@media (min-width: 1400px) {
    .flex {
        justify-content: space-between;
    }
}
@media (max-width: 688px) {
    .banner .control .next,
    .banner .control .prev {
        display: none;
    }
}
@media (max-width: 1024px) {
    .banner {
        min-height: 50vh;
    }
}
@media (max-width: 1024px) {
    .banner .slide .text-container {
        height: calc(100% - 30vh);
        margin: auto 15px;
    }
}
@media (max-width: 767px) {
    .banner {
        min-height: 50vh;
    }
    .main-product .img-box {
        margin-right: 0 !important;
    }
}
@media (max-width: 688px) {
    .main-product .img-box {
        order: -3;
    }
}
@media (max-width: 688px) {
    .prod-title {
        font-size: 2rem !important;
    }
}
@media (max-width: 688px) {
    .medium {
        font-size: 1.125rem !important;
    }
}
@media (max-width: 688px) {
    .img-box1,
    .main-product .img-box,
    .main-product .text-box {
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 688px) {
    .main-product h2 {
        text-align: left;
    }
}
.post-img {
    margin-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://res.cloudinary.com/djer1onlx/image/upload/v1626089380/coconut-bg_mt0d8t.jpg');
    background-position: center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
}
.center-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 20vh;
}
.prod-title {
    color: #fff;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    text-align: center;
}
.main-product {
    margin: 50px 0;
}
.main-product .img-box {
    flex: 1 0 25rem;
    object-fit: cover;
    background-position: center;
}
.main-product .img-box:nth-child(1) {
    margin-right: 2em;
}
.main-product .img-box:nth-child(2) {
    margin-left: 2em;
}
.main-product .img-box:nth-child(2) {
    margin-left: 2em;
}
.main-product .img-box:nth-child(2) {
    margin-left: 2em;
}
.main-product .text-box {
    flex: 1 0 25rem;
}
.list {
    list-style: none;
    padding: 0;
}
.list li {
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 8px;
}
.overflow {
    overflow-x: auto;
}
.product-table {
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}
.product-table thead {
    width: 100%;
}
.product-table tr:nth-child(odd) {
    background-color: #7fc76e;
    color: #fff;
}
.product-table td {
    border: 1px solid #4ebf35;
    padding: 15px 30px;
}
.img-box1 {
    flex: 1 0 25rem;
}
.text-box1 {
    flex: 1 0 50%;
}
.shell-img {
    position: relative;
    width: 100%;
    height: auto;
}
.shell-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media(max-width: 619px){
    .feature{
        margin-top: 50px !important;
    }
    .feat-bg:last-child{
        margin-left: unset;
        margin-top: 2em;
    }
}
@media(min-width: 620px)and (max-width: 865px){
    .wrap{
        flex-wrap: wrap;
    }
    .feature .row__img,
    .feature .row__text{
        width: 100%;
    }
}