// Colors
$primary:#4EBF35;
$shade1:#7fc76e;
$footer:#191E18;
$footer1:#131812;
$links:#222;

// Fonts

$small:0.875rem;
$medium:1.125rem;
$large:2rem;

$xlarge:4rem;


$fonts: 'Leckerli One', cursive;

